{% extends "base.html" %} {% block content %}
<h2>Streams</h2>
<div class="row">
    {% for user in users %}
    <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
        <div class="card" data-bs-toggle="modal" data-bs-target="#streamModal" data-bs-stream-name="{{ user.stream_name }}" data-bs-user-id="{{ user.id }}" style="cursor: pointer;">
            <img src="/screenshots/{{ user.id }}.jpg" class="card-img-top"  onerror="this.style.display='none';" alt="Stream">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="text-truncate">
                        <h5 class="card-title">{{ user.stream_name }}</h5>
                        <p class="card-text">{{ user.username }}</p>
                    </div>
                    <img src="{{ url_for('static', filename='avatar/' ~ user.id) }}" class="rounded-circle" width="50px" height="50px" onerror="this.style.display='none';" alt="Avatar">
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
<div class="modal fade" id="streamModal" tabindex="-1" aria-labelledby="streamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
            
                <h1 class="modal-title fs-5 me-auto text-truncate" id="streamModalLabel">Stream Name</h1>

                
                <div class="d-flex align-items-center">
                    <a id="download-btn" href="#" class="btn btn-outline-primary me-2" download>Download</a>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
       
            <div class="modal-body text-center">
                <video
                    id="stream-player"
                    class="video-js vjs-fluid"
                    controls
                    preload="auto"
                    width="640"
                    height="264"
                    poster=""
                    data-setup='{"liveui": true}'
                >
                    <!-- <source src="" type="application/x-mpegURL" /> -->
                    <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<style>
    .card:hover {
        transform: scale(1.05);
        transition: transform 0.5s ease;
        cursor: pointer;
    }
</style>

<script>
    const streamModal = document.getElementById('streamModal');
    if (streamModal) {
        streamModal.addEventListener('show.bs.modal', event => {
            const card = event.relatedTarget;
            const streamName = card.getAttribute('data-bs-stream-name');
            const userId = card.getAttribute('data-bs-user-id');

            const modalTitle = streamModal.querySelector('.modal-title');
            // const videoElement = streamModal.querySelector('#stream-player');
            const downloadBtn = streamModal.querySelector('#download-btn');


            modalTitle.textContent = streamName;

            if (downloadBtn) {
                downloadBtn.setAttribute('href', `/recordings/${userId}.ts`);
            }

            // if (video) {
            //     const sourceElement = videoElement.querySelector('source');
            //     if (sourceElement) {
            //         sourceElement.setAttribute('src', `/hls/${userId}/master.m3u8`);
            //     }
            //     videoElement.setAttribute('poster', `/screenshots/${userId}.jpg`);
            // }
            let player = videojs('stream-player');
            player.src({type: 'application/x-mpegURL', src: `/hls/${userId}/master.m3u8`});
            player.poster(`/screenshots/${userId}.jpg`);
        });
        streamModal.addEventListener('hide.bs.modal', event => {
            let player = videojs('stream-player');
            player.reset();
        });
    }
</script>

<script>
    var player = videojs('stream-player');  
    player.hlsQualitySelector();


player.on('seeking', function() {
    console.log('User is seeking to:', player.currentTime());
});

player.on('seeked', function() {
    console.log('Seek complete. Video will continue from:', player.currentTime());
    if (player.paused()) {
        player.play();
    }
});
player.on('timeupdate', function() {
    console.log('Current playback time:', player.currentTime());
});

  </script>
{% endblock %}