{% extends "base.html" %} {% block content %}
<h2>Login</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="row mb-3">
        {{ form.username.label(class_="form-label") }}
        <div class="col">
            {{ form.username(class_="form-control") }}
        </div>
    </div>
    <div class="row mb-3">
        {{ form.password.label(class_="form-label") }}
        <div class="col">
            {{ form.password(class_="form-control") }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary" value="Login">Login</button>
</form>
{% endblock %}